<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script type="text/javascript">

function initialize() {

var input = document.getElementById('searchTextField');
var autocomplete = new google.maps.places.Autocomplete(input);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">
      <div class="well text-center">
        <%= form_tag '/time_location' do %>
          This is the time in <%= text_field_tag :searchTextField, '', :placeholder => "" %>
          <br/>
          <%#= submit_tag "Gimme", class: "btn" %>
        <% end %>
      </div>
      <div class="well text-center">
        <% if session[:time] %>
          <%= session[:time] %> 
        <% end %>       
      </div>
      <div class="text-right">
        <%= link_to 'Made by Glenn.', "http://twitter.com/glenn0" %>     
      </div>
    </div>    
  </div>
</div>

<!--TO DO
  # Persist location
  # Add background
  # Vertically centre
  # Format text
  # Change prompt text
-->